span.value{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

span.info {
  float:right;
}

input.fast-search-input {
  height: 30px !important;
  min-height: 20px !important;
}
